<style>
  /*.main-rewards-container {
    background-image: url('https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_2.png?v=1693472229');
    background-size: 100%;
    background-repeat: no-repeat;
  }*/
  .cont-main-image img {
    width: 100%;
    padding: 15px
  }
  .rewards-heading h2 {
    line-height: 25px;
    font-size: 22px;
    font-weight: 300;
  }
  .rewards-heading {
    max-width: 100%;
    width: 300px;
    margin: -8px auto 0;
  }
  span.purp-strp {
    font-weight: 500;
    background: #6b24b2;
    color: #fff;
    padding: 4px 10px;
    line-height: 39px;
    border-radius: 7px;
  }
  .form-items {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selected-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dropdown-options {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
}

.dropdown-options li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.option-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

</style>
<div class="main-rewards-container">
  <div class="rewards-cont">
    <div class="cont-main-image">
      <h2><img src="https://cdn.shopify.com/s/files/1/0577/1368/8771/files/Group_95.png?v=1692862362" alt="rewards banner"></h2>
    </div>
  </div>
  <div class="rewards-heading">
    <h2>Authenticate your<br> product and<br><span class="purp-strp">get a reward</span>
    </h2>
  </div>
  <div class="rewards-form">
    <div class="form-items">
      <div class="name">
        <label for="" class="name">NAME</label>
        <input type="text" class="name" placeholder="Enter your name"></input>
      </div>
      <div class="email">
        <label for="" class="email">EMAIL</label>
        <input type="email" class="email" placeholder="ENTER EMAIL"></input>
      </div>
      <div class="phone">
        <label for="" class="phone">PHONE</label>
        <input type="tel" class="telephone" placeholder="ENTER PHONE"></input>
      </div>
      <div class="product-selection">
        <label for="" class="prod-selection">Select your product</label>
        {% comment %} <select name="product_dropdown" id="product_dropdown">
          {% for product in collections.all.products %}
            <option value="{{ product.id }}">
              <img src="{{ product.featured_image | img_url:'400x' }}" alt="{{ product.title }}" width="50">
              {{ product.title }}
              </option>
            {% endfor %}
            </select> {% endcomment %}
            <div class="custom-dropdown">
              <div class="dropdown-selected">
                <img src="#" alt="Selected Product" class="selected-image">
                <span class="selected-title">Select a product</span>
                </div>
                <ul class="dropdown-options">
                  {% for product in collections.all.products %}
                    <li data-product-id="{{ product.id }}">
                      <img src="{{ product.featured_image | img_url: 'thumb' }}" alt="{{ product.title }}" class="option-image">
                      {{ product.title }}
                      </li>
                    {% endfor %}
                     </ul>
                     <input type="hidden" name="selected_product_id" id="selected_product_id">
                     </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
  $('.dropdown-selected').click(function() {
    $('.dropdown-options').toggle();
  });

  $('.dropdown-options li').click(function() {
    var productId = $(this).data('product-id');
    var productTitle = $(this).text();
    var productImage = $(this).find('.option-image').attr('src');

    $('.selected-title').text(productTitle);
    $('.selected-image').attr('src', productImage);
    $('#selected_product_id').val(productId);

    $('.dropdown-options').hide();
  });
});

</script>
